<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @RenderSection("headScripts", required: false)

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrapcss")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">SandpitR</a>
        </div>
        <div class="navbar-collapse collapse">
          @RenderSection("menuOptions")
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Further Links<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.asp.net/signalr">Signal R on ASP.NET</a></li>
                <li><a href="http://signalr.net/">SignalR Site</a></li>
                <li><a href="https://twitter.com/SignalR">@@signalR</a></li>
                <li><a href="https://twitter.com/DamianEdwards">@@DamianEdwards</a></li>
                <li><a href="https://twitter.com/davidfowl">@@DavidFowl</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Apps</li>
                <li><a href="https://jabbr.net/">JabbR</a></li>
                <li><a href="http://shootr.signalr.net/">ShootR</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Reference</li>
                <li><a href="https://github.com/SignalR/SignalR">Code on GitHub</a></li>
                <li><a href="https://github.com/dougstowell/Sandpit.SignalR">This Sandpit</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrapjs")

    @RenderSection("scripts", required: false)
</body>
</html>
